
label{
    color:rgb(12, 11, 9);
    width: 150px;
    font-weight: 800;
    margin-top: 50px;
    margin-left: 150px;
    font-size: 20px;
}
button{
    width: 150px;
    margin-top: 40px;
    margin-left: 200px;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
}