<h1 style="text-align: center;color: darkblue;">{{isEdit?"Edit vehicle form":"Create vehicle form"}}
</h1>
<form [formGroup]="vehicleform">
    <label for="">vehicle</label>
    <input type="text" formControlName="Vehicle">
    <br>
    <label for="">manufacturer</label>
    <input type="text" formControlName="manufacturer">
    <br>
    <label for="">model</label>
    <input type="text" formControlName="model">
    <br>
    <label for="">type</label>
    <input type="text" formControlName="type">
    <br>
    <label for="">fuel</label>
    <input type="text" formControlName="fuel">
    <br>
    <label for="">color</label>
    <input type="text" formControlName="color">
    <br>
    <label for="">image</label>
    <input type="text" formControlName="image">
    <br>
    <button (click)="submit()">Submit</button>

</form>
