<table class="table table-dark table-hover table-striped table-bordered">
    <thead>
        <th>CrediteAt</th>
        <th>account_name</th>
        <th>available_balance</th>
        <th>currency</th>
        <th>user_image</th>
        <th>account_number</th>
        <th>id</th>
    </thead>
    <tbody>
        <tr *ngFor="let account of Accounts">
            <td>{{account.createdAt}}</td>
            <td>{{account.account_name}}</td>
            <td>{{account.available_balance}}</td>
            <td>{{account.currency}}</td>
            <td>
                <img src="{{account.user_image}}" alt="" width="100px" height=100px>

            </td>
            <td>{{account.account_number}}</td>
            <td>{{account.id}}</td>
        </tr>
    </tbody>
</table>
