<div class="parent">
    <form [formGroup]="loginform">
        
            <h2>LOGIN</h2>
            <br>
            <input type="text" placeholder="username" formControlName="email">
            <br>
            <input type="password" placeholder="password" formControlName="password">
            <br>
            <button (click)="login()">LOGIN</button>
            <br>
            <label for="">Not registred?</label>
            <div>
            <label for="">create an account</label>
            </div>
            
        
        
    </form>

</div>
