<div class="parent">
    <div class="left">
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="calculator">Calculator</h4>
        <h4 routerLink="data-binding">Data binding</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="square">square</h4>
        <h4 routerLink="directives">directives</h4>
        <h4 routerLink="grade">grade</h4>
        <h4 routerLink="Accounts">Accounts</h4>
        <h4 routerLink="cars">Cars</h4>
        <h4 routerLink="schoolfee">SchoolFee</h4>
        <h4 routerLink="pipes">Pipes</h4>
        <h4 routerLink="phones"> Phones</h4>
        <h4 routerLink="vechile">Vechile</h4>
        <h4 routerLink="products">Products</h4>
        <h4 routerLink="students">students</h4>
        <h4 routerLink="createvehicle">Createvehicle</h4>
        <h4 routerLink="createstudents">createstudents</h4>
        <h4 routerLink="adavancecalculator">advancecalculator</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="Create-user">Create-user</h4>
        <h4 routerLink="parent">parent</h4>
        <h4 routerLink="product">product</h4>
        <h4 routerLink="navigator">navigator</h4>
        <h4 routerLink="cart">cart</h4>
        <h4 routerLink="about-company">About-Company</h4>

        <button (click)="logout()">Logout</button>
        
        
    </div>
    <div class="right">
        
           <router-outlet></router-outlet>
    </div>

</div>
